// My Custom Colors from ice cold syntax

// General colors
@syntax-text-color: #F8F8F2;
@syntax-cursor-color: #F8F8F0;
@syntax-selection-color: #3125B0;
@syntax-background-color: #0e151b;
@line-number-color: #3c4c5f;
@gutter-selected: #7BB9ED;

// Guide colors
@syntax-wrap-guide-color: rgba(255, 255, 255, .1);
@syntax-indent-guide-color: rgba(255, 255, 255, .15);
@syntax-invisible-character-color: rgba(197, 200, 198, .2);

// For find and replace markers
@syntax-result-marker-color: #a6f2d7;
@syntax-result-marker-color-selected: black;

// Gutter colors
@syntax-gutter-text-color: @line-number-color;
@syntax-gutter-text-color-selected: @syntax-gutter-text-color;
@syntax-gutter-background-color: lighten(@syntax-background-color, 3%);
@syntax-gutter-background-color-selected: @line-number-color;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: #ffd569;
@syntax-color-added: #529b2f;
@syntax-color-modified: #E6DB74;
@syntax-color-removed: #F92672;


//Ice-Cold button text color
@ice-cold-text-color: #657fa0;
@ice-cold-text-color-highlight: #8da0b8;

//End of custom colors

// Colors

@text-color: #aaa;
@text-color-subtle: @line-number-color;//#555;
@text-color-highlight: #fff;
@text-color-selected: @text-color-highlight;

@text-color-info: #5293d8;
@text-color-success: #26c26a;
@text-color-warning: #ff982d;
@text-color-error: #c00;

@text-color-ignored: @text-color-subtle;
@text-color-added: @text-color-success;
@text-color-renamed: @text-color-info;
@text-color-modified: @text-color-warning;
@text-color-removed: @text-color-error;

@background-color-info: #0098ff;
@background-color-success: #17ca65;
@background-color-warning: #ffaa2c;
@background-color-error: #c00;
@background-color-highlight: rgba(255, 255, 255, 0.07);
@background-color-selected: #4182C4;

@app-background-color: #333;

@base-background-color: lighten(@tool-panel-background-color, 5%);
@base-border-color: rgba(0, 0, 0, 0.5);

@pane-item-background-color: @base-background-color;
@pane-item-border-color: rgba(0, 0, 0, 0.5);

@input-background-color: #1c2934;
@input-border-color: @base-border-color;

@tool-panel-background-color: @syntax-background-color;
@tool-panel-border-color: @base-border-color;

@inset-panel-background-color: #161719;
@inset-panel-border-color: @base-border-color;

@panel-heading-background-color: #43484d;
@panel-heading-border-color: fadein(@base-border-color, 10%);

@overlay-background-color: #202123;
@overlay-border-color: @background-color-highlight;

@button-background-color: #253644;//#43484d;
@button-background-color-hover: lighten(@button-background-color, 5%);
@button-background-color-selected: #3a698f;//#5c6064;
@button-border-color: @base-border-color;

@tab-bar-background-color: #222;
@tab-bar-border-color: darken(@tab-background-color-active, 10%);
@tab-background-color: #333;
@tab-background-color-active: #222;
@tab-border-color: #484848;

@tree-view-background-color: @tool-panel-background-color;
@tree-view-border-color: @tool-panel-border-color;

@scrollbar-background-color: @syntax-background-color;//rgba(42, 42, 42, 0.5);
@scrollbar-color: @line-number-color; //rgba(92, 92, 92, 0.5);

@ui-site-color-1: @background-color-success; // green
@ui-site-color-2: @background-color-info; // blue
@ui-site-color-3: @background-color-warning; // orange
@ui-site-color-4: #db2ff4; // purple
@ui-site-color-5: #f5e11d; // yellow


// Sizes

@font-size: 13px;

@disclosure-arrow-size: 12px;

@component-padding: 10px;
@component-icon-padding: 5px;
@component-icon-size: 16px;
@component-line-height: 25px;
@component-border-radius: 2px;

@tab-height: 30px;


// Other

@font-family: 'Lucida Grande', 'Segoe UI', sans-serif;
