/*
    Syntax styles for HTML.
*/

.text.basic.html {

    /* Base */
    color: @gray;

    /* Tags */
    .tag,
    .embedded {
        color: @black;

        .attribute-name {
            color: @blue;
        }
    }

}
