/*
    Syntax styles for Markup and Markdown.
*/

.markup {
    &.bold {
        color: @blue;
        font-style: bold;
    }

    &.changed {
        color: @orange;
    }

    &.deleted {
        color: @light-red;
    }

    &.italic {
        color: @blue;
        font-style: italic;
    }

    &.heading .punctuation.definition.heading {
        color: @red;
    }

    &.inserted {
        color: @blue;
    }

    &.list {
        color: @light-red;
    }

    &.quote {
        color: @orange;
    }

    &.raw.inline {
        color: @blue;
    }
}

.source.gfm * {
    -webkit-font-smoothing: auto;
    &.heading {
        color: @blue;
    }

}
