// Colors

// Colors form bonfire-syntax
@very-light-gray: lighten(@very-dark-gray, 45%);
@light-gray: lighten(@very-dark-gray, 30%);
@gray: lighten(@very-dark-gray, 20%);
@dark-gray: lighten(@very-dark-gray, 10%);
@very-dark-gray: #1c1714;

@cyan: #a25535;
@blue: #8a533c;
@purple: #9c6a55;
@green: #b46715;
@red: #d03e00;
@orange: #f05000;
@light-orange: #ff7b0e;
@very-light-orange: #ffa109;

@text-color: @very-light-gray;
@text-color-subtle: @gray;
@text-color-highlight: lighten(@very-light-gray, 10%);
@text-color-selected: @text-color-highlight;

@text-color-info: @light-orange;
@text-color-success: @very-light-orange;
@text-color-warning: @orange;
@text-color-error: @red;

@text-color-ignored: @text-color-subtle;
@text-color-added: @text-color-success;
@text-color-renamed: @text-color-info;
@text-color-modified: @text-color-warning;
@text-color-removed: @text-color-error;

@background-color-info: lighten(@light-orange, 5%);
@background-color-success: lighten(@very-light-orange, 5%);
@background-color-warning: lighten(@orange, 5%);
@background-color-error: lighten(@red, 5%);
@background-color-highlight: fadeout(@dark-gray, 30%);
@background-color-selected: darken(@orange, 15%);
@app-background-color: @dark-gray;

@base-background-color: lighten(@tool-panel-background-color, 5%);
@base-border-color: rgba(0, 0, 0, 0.5);

@pane-item-background-color: @base-background-color;
@pane-item-border-color: rgba(0, 0, 0, 0.5);

@input-background-color: #1e1714;
@input-border-color: @base-border-color;

@tool-panel-background-color: #1c1714;
@tool-panel-border-color: @base-border-color;

@inset-panel-background-color: #1e1714;
@inset-panel-border-color: @base-border-color;

@panel-heading-background-color: #3c2a23;
@panel-heading-border-color: fadein(@base-border-color, 10%);

@overlay-background-color: #1e1714;
@overlay-border-color: @background-color-highlight;

@button-background-color: #3c2a23;
@button-background-color-hover: lighten(@button-background-color, 5%);
@button-background-color-selected: lighten(@button-background-color, 5%);
@button-border-color: @base-border-color;

@tab-bar-background-color: @very-dark-gray;
@tab-bar-border-color: darken(@tab-background-color-active, 10%);
@tab-background-color: lighten(@very-dark-gray, 10%);
@tab-background-color-active: darken(@tab-background-color, 5%);
@tab-border-color: @very-dark-gray;

@tree-view-background-color: @tool-panel-background-color;
@tree-view-border-color: @tool-panel-border-color;

@scrollbar-background-color: rgba(35, 25, 21, 0.5);
@scrollbar-color: rgba(68, 44, 38, 0.5);

@ui-site-color-1: @background-color-success;
@ui-site-color-2: @background-color-info;
@ui-site-color-3: @background-color-warning;
@ui-site-color-4: #c54700;
@ui-site-color-5: #ce5200;


// Sizes

@font-size: 13px;

@disclosure-arrow-size: 12px;

@component-padding: 10px;
@component-icon-padding: 5px;
@component-icon-size: 16px;
@component-line-height: 25px;
@component-border-radius: 2px;

@tab-height: 30px;


// Other

@font-family: 'Lucida Grande', 'Segoe UI', sans-serif;
