@import "ui-mixins";
@import "ui-variables";

.key-binding {
  background: -webkit-linear-gradient(
    rgba(72, 51, 33, 0.5),
    rgba(42, 29, 23, 0.5));
  -webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.1);
  display: inline-block;
  line-height: 100%;
  border-radius: @component-border-radius;
  margin-left: @component-icon-padding;
  font-family: Helvetica, Arial, sans-serif;
  font-size: @font-size - 1px;
  padding: @component-padding / 2;
}

.badge {
  .text(highlight);
  background: @background-color-highlight;
}
