/*
    Color definitions.
*/

@white: #fff;

@black: #444;

@gray: #a5a5a5;
@light-gray: #f8f8f8;
@faded-gray: rgba(243, 243, 243, 0.4);

@blue: #38c5fc;
@light-blue: #a6e4fc;

@orange: #ffab61;

@red: #cc6666;
@light-red: #d08770;
