@import "ui-mixins";
@import "ui-variables";
@import "buttons";

.panel {
    &.bordered {
        border: 1px solid @base-border-color;
        border-radius: @component-border-radius;
    }
}

.tool-panel {
    .text(normal);
    position: relative;

    background-color: @tool-panel-background-color;

    &.panel-bottom {
        border-top: 1px solid @tool-panel-border-color;
    }

    &.panel-left {
        border-right: 1px solid @tool-panel-border-color;
    }

    &.panel-right {
        border-left: 1px solid @tool-panel-border-color;
    }

    .inset-panel {
        border-radius: @component-border-radius;

        border: 1px solid @tool-panel-border-color;
    }
}

.inset-panel {
    position: relative;
    background-color: @inset-panel-background-color;
}

.panel-heading {
    border-bottom: none;
    padding: @component-padding - 2px @component-padding;

    background-color: transparent;
    background-image: -webkit-linear-gradient(@panel-heading-background-color, darken(@panel-heading-background-color, 10%));

    .btn {
        @bg: lighten(@button-background-color, 10%);
        @hover: lighten(@button-background-color-hover, 10%);
        @selected: lighten(@button-background-color-selected, 10%);
        @text: lighten(@text-color, 10%);
        .btn-background(@bg, @hover, @selected, @button-border-color, @text, @text);
    }
}
