@import "ui-variables";
@tab-radius: 3px;
@modified-icon-width: 8px;
@tab-skew: 30deg;
@tab-top-padding: 5px;
@tab-bottom-border-height: 5px;
@tab-border: 1px solid @tab-border-color;

.tab-bar {
    height: @tab-height + @tab-top-padding + 5px;
    background-image: -webkit-linear-gradient(top, @tab-bar-background-color, lighten(@tab-bar-background-color, 9%));
    box-shadow: inset 0 -8px 8px -4px rgba(0,0,0, .15);
    padding: 0 10px;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        height: @tab-bottom-border-height;
        left: 0px;
        width: 100%;
        background-color: @tab-background-color-active;
        border-top: 1px solid @tab-border-color;
    }

    .tab {
        position: relative;
        top: @tab-top-padding;
        height: @tab-height;
        line-height: @tab-height;
        color: @text-color;
        padding-left: 0;
        margin-left: 15px;
        border-top-right-radius: @tab-radius;
        border-right: @tab-border;
        box-shadow: inset -1px -1px 1px rgba(0,0,0, .05);
        -webkit-transform: skewX(@tab-skew);
        transition: color .1s ease-in;

        &, &:before {
            background-image: -webkit-linear-gradient(top, @tab-background-color, darken(@tab-background-color, 6%));
            border-top: @tab-border;
        }

        &:before {
            content: '';
            position: absolute;
            top: -1px;
            left: -16px;
            height: @tab-height;
            width: 30px;
            border-top-left-radius: @tab-radius;
            border-left: @tab-border;
            box-shadow: inset 1px -1px 1px rgba(0,0,0, .05);
            -webkit-transform: skewX(133deg);
        }

        .close-icon {
            z-index: 3;
            line-height: @tab-height;
            -webkit-transform: skewX(-@tab-skew);
            color: @text-color;

            &:hover {
                color: inherit;
            }
        }

        &.modified:not(:hover) .close-icon {
            top: @tab-height/2 - @modified-icon-width/2 + 1px;
            right: 14px;
            width: @modified-icon-width;
            height: @modified-icon-width;
        }

        &.modified:hover .close-icon:hover {
            color: @text-color-highlight;
        }

        .title {
            -webkit-transform: skewX(-@tab-skew);
        }
    }

    .tab.active {
        z-index: 10;
        line-height: @tab-height - 2px;
        color: @text-color-highlight;

        .title{
            position: relative;
            top: 1px;
        }

        /* Pulse Animation */
        // @-webkit-keyframes pulse-blue {
        //     0%, 100% {
        //         color: #38c5fc;
        //         text-shadow: 0px 0px 4px #38c5fc;
        //         opacity: .5;
        //     }
        //     50% {
        //         color: #38c5fc;
        //         text-shadow: 0px 0px 7px #38c5fc;
        //         opacity: 1;
        //     }
        // }
        .close-icon {
            line-height: @tab-height - 1px;
            color: @text-color;//#38c5fc;
            //-webkit-animation: pulse-blue 1s ease-in-out infinite;
        }
        // .close-icon:before {
        //     content: "\f052";
        //     font-size: 15px;
        // }

        /* ======================== */

        &, &:before {
            background: @tab-background-color-active;
            height: @tab-height + 1px;
            box-shadow: none;
        }
    }

    .tab:hover {
        color: @text-color-highlight;
    }

    .tab.active:hover .close-icon {
        color: @text-color;

        &:hover {
            color: inherit;
        }
    }

    .placeholder {
        height: @tab-height + @tab-top-padding + @tab-bottom-border-height;
        &:after {
            top: @tab-height + @tab-top-padding + @tab-bottom-border-height;
        }
    }

}
