@import "ui-mixins";
@import "ui-variables";

.key-binding {
    background: #fff;
    border: 1px solid lighten(@base-border-color, 20%);
    text-shadow: none;
    display: inline-block;
    line-height: 100%;
    border-radius: @component-border-radius;
    margin-left: @component-icon-padding;
    font-family: Helvetica, Arial, sans-serif;
    font-size: @font-size - 1px;
    padding: @component-padding / 2;
}

.badge {
    .text(highlight);
    background: @background-color-highlight;
}
