@import "ui-variables";
@import "ui-mixins";

.editor.mini {
  color: @text-color-highlight;
  background-color: @input-background-color;
  border-radius: @component-border-radius;
  padding-left: @component-padding/2;
  .placeholder-text {
    color: @text-color-subtle;
  }
  .cursor { border-color: #fff; }
  .selection .region { background-color: lighten(@input-background-color, 10%); }
}

.editor.editor-colors.mini.is-focused {
  .selection .region { background-color: lighten(@app-background-color, 5%); }
  transition: background-color 0.1s
}

@-webkit-keyframes highlight {
  from { background-color: rgba(100, 255, 100, 0.7); }
  to { background-color: null; }
}

.editor .highlighted.selection .region {
  -webkit-animation-name: highlight;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
}

.editor:not(.mini) .editor-contents {
  .lines{
    margin: 20px 0px;
  }
  .gutter .line-numbers{
    margin: 20px 0px;
    .line-number{
      padding-left: 20px;
    }
  }
  .cursors .cursor{
    border-width: 2px;
    border-color: #1FA1FC;
    margin-left: 1px;
    &:before{
      content: '';
      position: absolute;
      width: 4px;
      height: 100%;
      left: -3px;
      border-top:2px solid #1FA1FC;
      border-bottom:2px solid #1FA1FC;
    }
  }
}

.editor .editor-contents .scroll-view,
.editor .editor-contents .gutter{
  border-bottom: 1px solid rgba(255,255,255,.04);
  border-top:1px solid rgba(255,255,255,.04);
}

.editor .editor-contents .gutter{
  border-left: 1px solid rgba(255,255,255,.04);
}

.minimap{
  border-right: 1px solid rgba(0,0,0,.3);
  .minimap-editor{
    background-color: rgba(0,0,0,.1);
    box-shadow: 0px 0px 2px rgba(255,255,255,.1) inset;
  }
}
